{
  "Version": 2,
  "Mixers": {
    "Guid": "b965f1e1-16e4-4475-ab82-d7fa84ca4a8f",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Processors": [],
    "Children": [
      {
        "Guid": "1ac661e6-b505-4a0a-be6a-637140140673",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "cf3ba8f0-1e66-4048-8c44-c3b255fad5c6",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "258a80f4-97c2-4f99-b3bd-46772c98650e",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "efd02ef0-314a-4237-ab05-7e9ef47abf24",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}